# Generated code
proto/**/*.pb.go
**/*_mock.go

# Binaries
/portfoliodb
*.exe

# Go
*.test
*.out
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local

# local files
local/

# Client (Next.js)
client/node_modules/
client/.next/
client/gen/
