---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            from:
                - "2025-01-01"
            period:
                - d
            to:
                - "2025-04-06"
        url: https://eodhd.com/api/eod/GBPUSD.FOREX?api_token=REDACTED&fmt=json&from=2025-01-01&period=d&to=2025-04-06
        method: GET
      response:
        body: '[{"date":"2025-04-06","open":1.2889,"high":1.2932,"low":1.2825,"close":1.2909,"adjusted_close":1.2909,"volume":2952866,"warning":"Data is limited by one year as you have free subscription"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1397"
        status: 200 OK
        code: 200
        duration: 1.594606576s
