---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            from:
                - "2025-04-01"
            to:
                - "2026-04-01"
        url: https://eodhd.com/api/splits/AAPL.US?api_token=REDACTED&fmt=json&from=2025-04-01&to=2026-04-01
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1394"
        status: 200 OK
        code: 200
        duration: 164.684243ms
    - id: 1
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            from:
                - "2025-04-01"
            to:
                - "2026-04-01"
        url: https://eodhd.com/api/div/AAPL.US?api_token=REDACTED&fmt=json&from=2025-04-01&to=2026-04-01
        method: GET
      response:
        body: '[{"date":"2025-05-12","declarationDate":"2025-05-01","recordDate":"2025-05-12","paymentDate":"2025-05-15","period":"Quarterly","value":0.26,"unadjustedValue":0.26,"currency":"USD"},{"date":"2025-08-11","declarationDate":"2025-07-31","recordDate":"2025-08-11","paymentDate":"2025-08-14","period":"Quarterly","value":0.26,"unadjustedValue":0.26,"currency":"USD"},{"date":"2025-11-10","declarationDate":"2025-10-30","recordDate":"2025-11-10","paymentDate":"2025-11-13","period":"Quarterly","value":0.26,"unadjustedValue":0.26,"currency":"USD"},{"date":"2026-02-09","declarationDate":"2026-01-29","recordDate":"2026-02-09","paymentDate":"2026-02-12","period":"Quarterly","value":0.26,"unadjustedValue":0.26,"currency":"USD"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1393"
        status: 200 OK
        code: 200
        duration: 174.655043ms
