---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            from:
                - "2025-11-01"
            to:
                - "2025-11-30"
        url: https://eodhd.com/api/splits/AAPL.US?api_token=REDACTED&fmt=json&from=2025-11-01&to=2025-11-30
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1397"
        status: 200 OK
        code: 200
        duration: 613.304741ms
    - id: 1
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            from:
                - "2025-11-01"
            to:
                - "2025-11-30"
        url: https://eodhd.com/api/div/AAPL.US?api_token=REDACTED&fmt=json&from=2025-11-01&to=2025-11-30
        method: GET
      response:
        body: '[{"date":"2025-11-10","declarationDate":"2025-10-30","recordDate":"2025-11-10","paymentDate":"2025-11-13","period":"Quarterly","value":0.26,"unadjustedValue":0.26,"currency":"USD"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1396"
        status: 200 OK
        code: 200
        duration: 155.534783ms
