---
version: 2
interactions:
    - id: 0
      request:
        host: api.openfigi.com
        body: '[{"idType":"OCC_SYMBOL","idValue":"AAPL  251219C00200000"}]'
        headers:
            Content-Type:
                - application/json
            X-Openfigi-Apikey:
                - REDACTED
        url: https://api.openfigi.com/v3/mapping
        method: POST
      response:
            - chunked
        body: '[{"data":[{"figi":"BBG01DC3M2N6","name":"December 25 Calls on AAPL US","ticker":"AAPL 12/19/25 C200","exchCode":"US","compositeFIGI":"BBG01DC3M2N6","securityType":"Equity Option","marketSector":"Equity","shareClassFIGI":null,"securityType2":"Option","securityDescription":"AAPL US 12/19/25 C200"},{"figi":"BBG01DC3M2Q3","name":"December 25 Calls on AAPL US","ticker":"AAPL 12/19/25 C200","exchCode":"UA","compositeFIGI":"BBG01DC3M2N6","securityType":"Equity Option","marketSector":"Equity","shareClassFIGI":null,"securityType2":"Option","securityDescription":"AAPL UA 12/19/25 C200"},{"figi":"BBG01DC3M2S1","name":"December 25 Calls on AAPL US","ticker":"AAPL 12/19/25 C200","exchCode":"UO","compositeFIGI":"BBG01DC3M2N6","securityType":"Equity Option","marketSector":"Equ[...]
