---
version: 2
interactions:
    - id: 0
      request:
        host: api.openfigi.com
        body: '[{"idType":"TICKER","idValue":"IBM"}]'
        headers:
            Content-Type:
                - application/json
            X-Openfigi-Apikey:
                - REDACTED
        url: https://api.openfigi.com/v3/mapping
        method: POST
      response:
            - chunked
        body: '[{"data":[{"figi":"BBG000BLNNH6","name":"INTL BUSINESS MACHINES CORP","ticker":"IBM","exchCode":"US","compositeFIGI":"BBG000BLNNH6","securityType":"Common Stock","marketSector":"Equity","shareClassFIGI":"BBG001S5S399","securityType2":"Common Stock","securityDescription":"IBM"},{"figi":"BBG000BLNNV0","name":"INTL BUSINESS MACHINES CORP","ticker":"IBM","exchCode":"UA","compositeFIGI":"BBG000BLNNH6","securityType":"Common Stock","marketSector":"Equity","shareClassFIGI":"BBG001S5S399","securityType2":"Common Stock","securityDescription":"IBM"},{"figi":"BBG000BLNPB7","name":"INTL BUSINESS MACHINES CORP","ticker":"IBM","exchCode":"UC","compositeFIGI":"BBG000BLNNH6","securityType":"Common Stock","marketSector":"Equity","shareClassFIGI":"BBG001S5S399","securityType2":"[...]
