---
version: 2
interactions:
    - id: 0
      request:
        host: api.massive.com
        form:
            adjusted:
                - "false"
            apiKey:
                - REDACTED
            sort:
                - asc
        url: https://api.massive.com/v2/aggs/ticker/C:EURUSD/range/1/day/2025-01-02/2025-01-03?adjusted=false&apiKey=REDACTED&sort=asc
        method: GET
      response:
        body: '{"ticker":"C:EURUSD","queryCount":2,"resultsCount":2,"adjusted":false,"results":[{"v":164402,"vw":1.031,"o":1.0367,"c":1.02678,"h":1.0376,"l":1.02211,"t":1735776000000,"n":164402},{"v":148831,"vw":1.0288,"o":1.02675,"c":1.0307,"h":1.031,"l":1.0263,"t":1735862400000,"n":148831}],"status":"OK","request_id":"a790bc9343a77befbd5c5daa79d77b9c","count":2}'
        headers:
            Content-Type:
                - application/json
            X-Polygon-Cluster-Name:
                - polygon-ny5
        status: 200 OK
        code: 200
        duration: 269.53516ms
