---
version: 2
interactions:
    - id: 0
      request:
        host: api.massive.com
        form:
            adjusted:
                - "false"
            apiKey:
                - REDACTED
            sort:
                - asc
        url: https://api.massive.com/v2/aggs/ticker/C:GBPUSD/range/1/day/2025-01-02/2025-01-03?adjusted=false&apiKey=REDACTED&sort=asc
        method: GET
      response:
        body: '{"ticker":"C:GBPUSD","queryCount":2,"resultsCount":2,"adjusted":false,"results":[{"v":177214,"vw":1.2437,"o":1.25195,"c":1.23795,"h":1.2541,"l":1.2352,"t":1735776000000,"n":177214},{"v":148193,"vw":1.2405,"o":1.23789,"c":1.242,"h":1.2434,"l":1.2377,"t":1735862400000,"n":148193}],"status":"OK","request_id":"d6acc91c4fc9e3a4d3896ad9c045c257","count":2}'
        headers:
            Content-Type:
                - application/json
            X-Polygon-Cluster-Name:
                - polygon-ny5
        status: 200 OK
        code: 200
        duration: 119.03238ms
