---
version: 2
interactions:
    - id: 0
      request:
        host: api.massive.com
        form:
            adjusted:
                - "false"
            apiKey:
                - REDACTED
            sort:
                - asc
        url: https://api.massive.com/v2/aggs/ticker/AAPL/range/1/day/2025-01-02/2025-01-03?adjusted=false&apiKey=REDACTED&sort=asc
        method: GET
      response:
        body: '{"ticker":"AAPL","queryCount":2,"resultsCount":2,"adjusted":false,"results":[{"v":5.5740731e+07,"vw":244.3303,"o":248.93,"c":243.85,"h":249.1,"l":241.8201,"t":1735794000000,"n":685448},{"v":4.0244114e+07,"vw":243.0805,"o":243.36,"c":243.36,"h":244.18,"l":241.89,"t":1735880400000,"n":493786}],"status":"OK","request_id":"8aa1c8db35bc1ec6dceeb7d95fed8349","count":2}'
        headers:
            Content-Type:
                - application/json
            X-Polygon-Cluster-Name:
                - polygon-ny5
        status: 200 OK
        code: 200
        duration: 105.71897ms
