---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            limit:
                - "10"
            type:
                - stock
        url: https://eodhd.com/api/search/US0378331005?api_token=REDACTED&fmt=json&limit=10&type=stock
        method: GET
      response:
        body: '[{"Code":"AAPL","Exchange":"US","Name":"Apple Inc","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US0378331005","isPrimary":true,"previousClose":250.12,"previousCloseDate":"2026-03-13"},{"Code":"AAPL","Exchange":"BA","Name":"Apple Inc DRC","Type":"Common Stock","Country":"Argentina","Currency":"ARS","ISIN":"US0378331005","isPrimary":false,"previousClose":18620,"previousCloseDate":"2026-03-12"},{"Code":"0R2V","Exchange":"LSE","Name":"Apple Inc.","Type":"Common Stock","Country":"UK","Currency":"USD","ISIN":"US0378331005","isPrimary":false,"previousClose":255,"previousCloseDate":"2026-03-13"},{"Code":"0R2V","Exchange":"IL","Name":"Apple Inc.","Type":"Common Stock","C[...]
    - id: 1
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            filter:
                - General
            fmt:
                - json
        url: https://eodhd.com/api/fundamentals/AAPL.US?api_token=REDACTED&filter=General&fmt=json
        method: GET
      response:
        body: 'Only EOD data allowed for free users. Please, contact our support team: support@eodhistoricaldata.com'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1394"
        status: 403 Forbidden
        code: 403
        duration: 175.15413ms
