---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            exchange:
                - US
            fmt:
                - json
            limit:
                - "10"
            type:
                - stock
        url: https://eodhd.com/api/search/AAPL?api_token=REDACTED&exchange=US&fmt=json&limit=10&type=stock
        method: GET
      response:
        body: '[{"Code":"AAPL","Exchange":"US","Name":"Apple Inc","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US0378331005","isPrimary":true,"previousClose":255.92,"previousCloseDate":"2026-04-02"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1395"
        status: 200 OK
        code: 200
        duration: 258.068223ms
