---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            limit:
                - "10"
            type:
                - stock
        url: https://eodhd.com/api/search/AAPL?api_token=REDACTED&fmt=json&limit=10&type=stock
        method: GET
      response:
        body: '[{"Code":"AAPL","Exchange":"US","Name":"Apple Inc","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US0378331005","isPrimary":true,"previousClose":250.12,"previousCloseDate":"2026-03-13"},{"Code":"AAPL","Exchange":"BA","Name":"Apple Inc DRC","Type":"Common Stock","Country":"Argentina","Currency":"ARS","ISIN":"US0378331005","isPrimary":false,"previousClose":18620,"previousCloseDate":"2026-03-12"},{"Code":"AAPL","Exchange":"NEO","Name":"Apple Inc CDR","Type":"Common Stock","Country":"Canada","Currency":"CAD","ISIN":"US0378331005","isPrimary":false,"previousClose":36.51,"previousCloseDate":"2026-03-12"},{"Code":"AAPL","Exchange":"TO","Name":"Apple CDR (CAD Hedged)","Type":"Common Stock","Country":"Canada","Currency":"CAD","ISIN":"CA03785Y1007","isPrimary":false,"previousClose":35.6,"previousCloseDate":"2026-03-13"},{"Code":"AAPL","Exchange":"MX","Name":"Apple Inc","Type":"Common Stock","Country":"Mexico","Currency":"MXN","ISIN":"US0378331005","isPrimary":false,"previousClose":4498.13,"previousCloseDate":"2026-03-13"},{"Code":"AAPL34","Exchange":"SA","Name":"Apple Inc","Type":"Common Stock","Country":"Brazil","Currency":"BRL","ISIN":"BRAAPLBDR004","isPrimary":false,"previousClose":66.3,"previousCloseDate":"2026-03-13"},{"Code":"ZAAP","Exchange":"NEO","Name":"APPLE (aapl) BMO CDR (CAD HEDGED)","Type":"Common Stock","Country":"Canada","Currency":"CAD","ISIN":null,"isPrimary":false,"previousClose":9.57,"previousCloseDate":"2026-03-12"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1399"
        status: 200 OK
        code: 200
        duration: 709.554237ms
    - id: 1
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            filter:
                - General
            fmt:
                - json
        url: https://eodhd.com/api/fundamentals/AAPL.US?api_token=REDACTED&filter=General&fmt=json
        method: GET
      response:
        body: 'Only EOD data allowed for free users. Please, contact our support team: support@eodhistoricaldata.com'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1398"
        status: 403 Forbidden
        code: 403
        duration: 188.334219ms
