---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            limit:
                - "10"
            type:
                - stock
        url: https://eodhd.com/api/search/US0378331005?api_token=REDACTED&fmt=json&limit=10&type=stock
        method: GET
      response:
        body: '[{"Code":"AAPL","Exchange":"US","Name":"Apple Inc","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US0378331005","isPrimary":true,"previousClose":255.92,"previousCloseDate":"2026-04-02"},{"Code":"AAPL","Exchange":"BA","Name":"Apple Inc DRC","Type":"Common Stock","Country":"Argentina","Currency":"ARS","ISIN":"US0378331005","isPrimary":false,"previousClose":19030,"previousCloseDate":"2026-04-01"},{"Code":"0R2V","Exchange":"LSE","Name":"Apple Inc.","Type":"Common Stock","Country":"UK","Currency":"USD","ISIN":"US0378331005","isPrimary":false,"previousClose":254.96,"previousCloseDate":"2026-04-02"},{"Code":"0R2V","Exchange":"IL","Name":"Apple Inc.","Type":"Common Stock"[...]
