---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            limit:
                - "10"
            type:
                - stock
        url: https://eodhd.com/api/search/BRK-B?api_token=REDACTED&fmt=json&limit=10&type=stock
        method: GET
      response:
        body: '[{"Code":"BRK-B","Exchange":"US","Name":"Berkshire Hathaway Inc","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US0846707026","isPrimary":true,"previousClose":490.03,"previousCloseDate":"2026-03-13"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1397"
        status: 200 OK
        code: 200
        duration: 233.060892ms
    - id: 1
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            filter:
                - General
            fmt:
                - json
        url: https://eodhd.com/api/fundamentals/BRK-B.US?api_token=REDACTED&filter=General&fmt=json
        method: GET
      response:
        body: 'Only EOD data allowed for free users. Please, contact our support team: support@eodhistoricaldata.com'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1396"
        status: 403 Forbidden
        code: 403
        duration: 179.654786ms
