---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            exchange:
                - US
            fmt:
                - json
            limit:
                - "10"
            type:
                - stock
        url: https://eodhd.com/api/search/AAPL?api_token=REDACTED&exchange=US&fmt=json&limit=10&type=stock
        method: GET
      response:
        body: '[{"Code":"AAPL","Exchange":"US","Name":"Apple Inc","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US0378331005","isPrimary":true,"previousClose":250.12,"previousCloseDate":"2026-03-13"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1393"
        status: 200 OK
        code: 200
        duration: 236.392969ms
    - id: 1
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            filter:
                - General
            fmt:
                - json
        url: https://eodhd.com/api/fundamentals/AAPL.US?api_token=REDACTED&filter=General&fmt=json
        method: GET
      response:
        body: 'Only EOD data allowed for free users. Please, contact our support team: support@eodhistoricaldata.com'
        headers:
            Content-Type:
                - text/html; charset=utf-8
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1392"
        status: 403 Forbidden
        code: 403
        duration: 157.136972ms
