---
version: 2
interactions:
    - id: 0
      request:
        host: eodhd.com
        form:
            api_token:
                - REDACTED
            fmt:
                - json
            limit:
                - "10"
            type:
                - stock
        url: https://eodhd.com/api/search/AAPL?api_token=REDACTED&fmt=json&limit=10&type=stock
        method: GET
      response:
        body: '[{"Code":"AAPL","Exchange":"US","Name":"Apple Inc","Type":"Common Stock","Country":"USA","Currency":"USD","ISIN":"US0378331005","isPrimary":true,"previousClose":255.92,"previousCloseDate":"2026-04-02"},{"Code":"AAPL","Exchange":"BA","Name":"Apple Inc DRC","Type":"Common Stock","Country":"Argentina","Currency":"ARS","ISIN":"US0378331005","isPrimary":false,"previousClose":19030,"previousCloseDate":"2026-04-01"},{"Code":"AAPL","Exchange":"TO","Name":"Apple CDR (CAD Hedged)","Type":"Common Stock","Country":"Canada","Currency":"CAD","ISIN":"CA03785Y1007","isPrimary":false,"previousClose":36.35,"previousCloseDate":"2026-04-02"},{"Code":"AAPL","Exchange":"NEO","Name":"Apple Inc CDR","Type":"Common Stock","Country":"Canada","Currency":"CAD","ISIN":"US0378331005","isPrimary":false,"previousClose":36.35,"previousCloseDate":"2026-04-02"},{"Code":"AAPL","Exchange":"MX","Name":"Apple Inc","Type":"Common Stock","Country":"Mexico","Currency":"MXN","ISIN":"US0378331005","isPrimary":false,"previousClose":4555.9302,"previousCloseDate":"2026-04-01"},{"Code":"AAPL34","Exchange":"SA","Name":"Apple Inc","Type":"Common Stock","Country":"Brazil","Currency":"BRL","ISIN":"BRAAPLBDR004","isPrimary":false,"previousClose":65.78,"previousCloseDate":"2026-04-02"},{"Code":"ZAAP","Exchange":"NEO","Name":"APPLE (aapl) BMO CDR (CAD HEDGED)","Type":"Common Stock","Country":"Canada","Currency":"CAD","ISIN":null,"isPrimary":false,"previousClose":9.32,"previousCloseDate":"2026-04-02"}]'
        headers:
            Content-Type:
                - application/json
            X-Ratelimit-Limit:
                - "1400"
            X-Ratelimit-Remaining:
                - "1399"
        status: 200 OK
        code: 200
        duration: 1.120315922s
