---
version: 2
interactions:
    - id: 0
      request:
        host: api.massive.com
        form:
            apiKey:
                - REDACTED
            execution_date.gte:
                - "2025-04-01"
            execution_date.lte:
                - "2026-04-01"
            limit:
                - "1000"
            ticker:
                - NFLX
        url: https://api.massive.com/v3/reference/splits?apiKey=REDACTED&execution_date.gte=2025-04-01&execution_date.lte=2026-04-01&limit=1000&ticker=NFLX
        method: GET
      response:
        body: '{"results":[{"execution_date":"2025-11-17","id":"Ea5faf86b4104338a450f706dda364e6831195acf142c679391a5c1c289a25f95","split_from":1,"split_to":10,"ticker":"NFLX"}],"status":"OK","request_id":"370a3236de611f3f5989674619d16020"}'
        headers:
            Content-Type:
                - application/json
            X-Item-Count:
                - "1"
            X-Polygon-Cluster-Name:
                - polygon-ny5
        status: 200 OK
        code: 200
        duration: 102.728277ms
    - id: 1
      request:
        host: api.massive.com
        form:
            apiKey:
                - REDACTED
            ex_dividend_date.gte:
                - "2025-04-01"
            ex_dividend_date.lte:
                - "2026-04-01"
            limit:
                - "1000"
            ticker:
                - NFLX
        url: https://api.massive.com/v3/reference/dividends?apiKey=REDACTED&ex_dividend_date.gte=2025-04-01&ex_dividend_date.lte=2026-04-01&limit=1000&ticker=NFLX
        method: GET
      response:
        body: '{"results":[],"status":"OK","request_id":"877c8af975a7cca72aef8b5d1704c7dd"}'
        headers:
            Content-Type:
                - application/json
            X-Item-Count:
                - "0"
            X-Polygon-Cluster-Name:
                - polygon-ny5
        status: 200 OK
        code: 200
        duration: 392.940202ms
